body {
    background-color: #FAFAFA;
}

nav {
    background-color: #FFFFFF;
    border-bottom: 1px solid #dbdbdb;
    height: 76px;
}

.brand {
    font-family: 'Satisfy', cursive;
    font-size: 26px;
    vertical-align: center;
}